<div id="available-times">
  <div id="container">
    <div id="title">
      <h2>Time Slots</h2>
      <p routerLink="/add-available-time"><fa-icon [icon]="['fas', 'plus']" size="1x"></fa-icon>Add</p>
    </div>
    <div id="components">
      <div class="time-container" *ngFor="let at of availableTimes">
        <div id="at">
          <fa-icon class="element item" [icon]="['fas','hourglass-start']" size="1x"></fa-icon>
          <p class="data element item" id="day">{{at.Day}}s</p>
          <p class="tag element time">from</p>
          <p class="data element time">{{timeFormat(at.Start_Time)}}</p>
          <p class="element tag time">to</p>
          <p class="data element time">{{timeFormat(at.End_Time)}}</p>
        </div>
        <div id="buttons">
          <button [routerLink]="['edit-at', at.Available_Time_ID]">Edit</button>
          <button (click)="warning(at.Available_Time_ID)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
