@media (min-width: 1100px) {
  .time-container {
    width: 750px;
  }

  #buttons {
    float: right;
  }

  #buttons, #at {
    display: inline-block;
  }

  #buttons button:first-child {
    margin-right: 15px;
  }
}

@media (min-width: 828px) and (max-width: 1099px) {
  .time-container {
    width: 475px;
  }

  #buttons {
    float: right;
  }

  #buttons, #at {
    display: inline-block;
  }

  #buttons button:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 827px) {
  .time-container {
    width: 300px;
  }

  #buttons, #at {
    display: inline-block;
  }

  #at {
    width: 235px;
    text-align: center;
  }

  #buttons {
    width: 65px;
    float: right;
  }
}


#title {
  border-bottom: #0c424d 1px solid;
  width: 80%;
  margin-left: 10%;
  padding-top: 70px;
}

#title h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 600;
  font-style: oblique;
  display: inline;
}

#title p {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  float: right;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;

  fa-icon {
    margin-right: 5px;
  }
}

#title p:hover {
  border-bottom: 1px solid #19777b;
  color: #19777b;
}

.time-container {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

.element {
  display: inline-grid;
  margin-top: 15px;
  margin-right: 5px;
}

.element:first-child {
  margin-left: 50px;
}

.tag {
  font-style: oblique;
}

.data {
  font-weight: 600;
}

#available-times {
  background-color: white;
  min-height: 550px;
}

#buttons button {
  margin-top: 15px;
  width: 65px;
  background-color: whitesmoke;
}

#buttons button:first-child {
  border: 1px solid #19777b;
}

#buttons button:last-child {
  border: 1px solid #7b1d19;
}

