<nav id="nav-bar" class="navbar navbar-expand-md">
    <div class="container my-4">
      <div id="web-name">
        <a href="http://192.168.1.44:2400/" target="_self">
          <img width="100" height="100" src="../../assets/Img/logo4.png" alt="Tutorama.ba Logo"> Tutorama<span style="font-weight: bolder;">.ba</span>
        </a>
      </div>

      <div id="nav-bar-items">
        <span id="closeBtn" appCloseNav>&times;</span>
        <ul id="nav" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" routerLink="/" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="/creator" routerLink="/creator" class="nav-link">CREATOR</a>
          </li>
          <li class="nav-item">
            <a href="/contact" routerLink="/contact" class="nav-link">CONTACT</a>
          </li>
          <li class="nav-item">
            <div id="line"></div>
          </li>
          <li class="nav-item">
            <a href="#"  routerLink="/login" class="nav-link">LOGIN</a>
          </li>
          <li class="nav-item">
            <a href="#" routerLink="/sign-up" class="nav-link">SIGN UP</a>
          </li>
        </ul>
      </div>
      <span id="toggler" appOpenNav>&#9776;</span>
    </div>
</nav>

