<nav id="navBar" class="navbar navbar-expand-lg fixed-top">
    <div class="container my-4">
        <div id="gridContainer">
            <div class="font_3" id="web-name">
                <a href="http://127.0.0.1:2400/" target="_self">
                    Tutorama<span style="font-weight: bold">.ba</span>
                </a>
            </div>
        </div>

        <div id="navBarItems" class="ol">
            <span class="toggler closeBtn" onclick="closeNav()">&times;</span>
            <ul id="nav" class="ol-content navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">HOME</a>
                <li class="nav-item">
                    <a href="#info" class="nav-link">INFO</a>
                </li>
                <li class="nav-item">
                    <a href="#creator" class="nav-link">CREATOR</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">REGISTER</a>
                </li>
            </ul>
        </div>
        <span class="toggler" onclick="openNav()">&#9776;</span>
    </div>
</nav>

