<div id="resetPassword">
  <form #resetPasswordForm=ngForm (ngSubmit)="onSubmit()">

   <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>

    <div class="form-container">
      <label for="eml">Email
        <input type="email" placeholder="Enter email" id="eml" name="eml" required="required" [(ngModel)]="form.email" >
      </label>
      <span class="alert text-danger" [hidden]="!form.email.error">{{form.email.error}}</span>

      <label for="psw">Password
        <input type="password" placeholder="Enter password" id="psw" name="psw" required="required" [(ngModel)]="form.password">
      </label>

      <button type="submit" [disabled]="!resetPasswordForm.valid">Change Password</button>
    </div>
  </form>
</div>
