<div id="add-service">
  <div id="title">
    <h2>
      <fa-icon (click)="goBack()" [icon]="['fas','chevron-left']" size="1x"></fa-icon>
      Add Service
    </h2>
  </div>
  <form #addServiceForm=ngForm (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="subject">Choose Subject</label>
      <select id="subject" required="required" name="subject" [(ngModel)]="service.Subject_ID">
        <option disabled="disabled" value="">Select...</option>
        <option *ngFor="let subject of subjects" value="{{subject.Subject_ID}}">{{subject.Subject_Name}}</option>
      </select>
    </div>
    <div class="form-row">
      <label for="level">Choose Level</label>
      <select id="level" name="level" required="required" [(ngModel)]="service.Service_Level">
        <option disabled="disabled" value="">Select...</option>
        <option value="Elementary">Elementary</option>
        <option value="High School">High School</option>
        <option value="University">University</option>
        <option value="On Demand">On Demand</option>
      </select>
    </div>
    <div class="form-row">
      <label for="price">Enter price (KM/h)</label>
      <input type="number" placeholder="Price per hour" id="price" name="price" required="required" [(ngModel)]="service.Service_Cost">
    </div>
    <button id="submit" type="submit" [disabled]="!addServiceForm.valid">
      <fa-icon [icon]="['fas','plus']" size="1x"></fa-icon>
      Add
    </button>
  </form>
</div>
