<app-header></app-header>
<div id="registration-form">
  <form action="" method="get">
    <label for="fn">First Name
      <input type="text" maxlength="45" id="fn" name="fn" placeholder="First Name" required="required">
    </label>
    <label for="ln">Last Name
      <input type="text" maxlength="45" id="ln" name="ln" placeholder="Last Name" required="required">
    </label>
    <label for="dob">Date of Birth
      <input type="date" id="dob" name="dob" max="2002-01-01" min="1920-01-01" placeholder="mm/dd/yyyy" required="required">
    </label>
    <label for="add">Address
      <input type="text" maxlength="45" id="add" name="add" placeholder="Address" required="required">
    </label>
    <label for="town">Town
      <input type="text" maxlength="45" id="town" name="town" placeholder="Town" required="required">
    </label>
    <label for="num">Phone Number
      <input type="tel" id="num" name="num" placeholder="Phone Number" required="required">
    </label>
    <label for="available"> Availability
      <select name="availability" id="available" required="required">
        <option value="fixed">Fixed</option>
        <option value="flexible">Flexible</option>
      </select>
    </label>
    <label for="exp"> Experience
      <input type="text" maxlength="200" id="exp" name="exp" placeholder="Experience" required="required">
    </label>
    <label for="other"> Other Information
      <input type="text" maxlength="200" id="other" name="other" placeholder="Other Information" required="required">
    </label>
    <label for="email">Email
      <input type="email" maxlength="45" id="email" name="email" placeholder="Email" required="required">
    </label>
    <label for="psw">Password
      <input type="password" maxlength="128" id="psw" name="psw" placeholder="Password" required="required">
    </label>
    <label for="pass">Repeat Password
      <input type="password" maxlength="128" id="pass" name="pass" placeholder="Repeat Password" required="required">
    </label>

    <button type="submit">Sign Up</button>
    <a routerLink="/register">Cancel</a>
  </form>
</div>
<app-footer></app-footer>
