<div id="services-list">
  <div id="title">
    <h2>Services</h2>
  </div>
  <div id="search">
    <label for="subject"></label>
    <input type="text" id="subject" name="search" placeholder="Search subject, e.g. math" [(ngModel)]="subject">
    <button (click)="search()">Search</button>
  </div>
  <div id="cards">
    <div *ngIf="empty()">
      <p>No matches found for "{{routeSubject}}"</p>
    </div>
    <div *ngIf="!empty()">
      <div id="card" *ngFor="let service of services" [routerLink]="['/services', service.Service_ID]">
        <div id="content">
          <h4>{{service.Subject_Name}}</h4>
          <p id="level">{{service.Service_Level}}</p>
          <p>{{service.Service_Cost}} KM/h</p>
          <p>{{service.Town}}, {{service.Country}}</p>
          <span>...click for more info</span>
        </div>
      </div>
    </div>
  </div>
</div>
