<div id="info">
    <p>{{serviceInfo.Subject_Name}}</p>
    <p>{{serviceInfo.First_Name}}</p>
    <p>{{serviceInfo.Last_Name}}</p>
    <p>{{serviceInfo.Service_Level}}</p>
    <p>{{serviceInfo.Service_Cost}} KM/h</p>
    <p>{{serviceInfo.Experience}}</p>
    <p>{{serviceInfo.Description}}</p>
    <p>{{serviceInfo.Town}}</p>
    <p>{{serviceInfo.Country}}</p>
    <a [routerLink]="['/services', serviceInfo.Service_ID,'schedule-class']"><button>Schedule Class</button></a>
    <a [routerLink]="['/tutor-profile', serviceInfo.Tutor_ID]"><button>Go to Tutor Profile</button></a>

  <button (click)="goBack()">Back</button>
</div>
