@media only screen and (min-width: 992px) {
  #wrap {
    margin-left: calc((100% - 800px) * 0.5);
  }

  .info-card {
    display: inline-grid;
    width: 375px;
  }

  .element {
    margin-left: 50px;
  }

  .red {
    margin-left: 5px;
  }

  .buttons {
    margin-left: calc((100% - 205px) * 0.5);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #wrap {
    margin-left: calc((100% - 375px) * 0.5);
  }

  .info-card {
    width: 375px;
  }

  .element:first-child {
    margin-top: 50px;
  }

  .red {
    margin-left: 5px;
  }

  .buttons {
    margin-left: calc((100% - 205px) * 0.5);
  }
}

@media only screen and (max-width: 767px) {
  #wrap {
    margin-left: calc((100% - 300px) * 0.5);
  }

  .info-card {
    width: 300px;
  }

  .element:first-child {
    margin-top: 50px;
  }

  .red {
    margin-top: 5px;
  }

  .buttons {
    margin-left: calc((100% - 100px) * 0.5);
  }
}

#class-info {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  position: relative;
  background-color: whitesmoke;
}

#title {
  border-bottom: #0c424d 1px solid;
  width: 80%;
  margin-left: 10%;
}

#title h2 {
  margin-left: calc((100% - 275px) * 0.1);
  width: 275px;
  font-family: 'DM Serif Display', serif;
  text-transform: uppercase;
  font-weight: 500;
  font-style: oblique;
}

#info-card h4, .info-card h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#wrap {
  margin-top: 50px;
  padding-bottom: 50px;
  font-family: 'DM Sans', sans-serif;
}

.content {
  width: 100%;
  padding: 30px;
}

.card-row {
  padding: 0 30px;
}

.card-row:first-of-type {
  padding-top: 10px;
}

.element {
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 12px 20px 0 rgba(50, 50, 50, 0.2);
}

.element:last-child {
  margin-top: 50px;
}

.data {
  font-size: large;
  margin-bottom: 0;
}

.tag {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  color: #828282;
  border-top: 1px solid #828282;
}

.status-button {
  height: 30px;
  width: 100px;
  font-size: small;
  border: 1px solid;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
}

.green {
  border-color: #19777b;
  color: #0c424d;
}

.red {
  border-color: #88332f;
  color: #7b1d19;
}

.content span {
  font-style: oblique;
  color: #828282;
  font-size: small;
  float: right;
}
