/* Mobile Phones and Tablets*/
@media only screen and (max-width: 767px) {
  #nav-bar-items {
    overflow-y: auto;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #205743;
    transition: 0.5s;
  }

  #nav-bar-items a {
    display: block;
    transition: 0.3s;
    padding: 8px;
    color: white;
  }

  #closeBtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #nav {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  #nav-bar-items ul {
    list-style: none;
  }

  #toggler, #closeBtn {
    font-size: 30px;
    color: #111922;
    cursor: pointer;
  }

  #closeBtn {
    color: white;
  }
}

/*Computers*/

@media only screen and (min-width: 768px) {
  #toggler, #closeBtn {
    display: none;
  }

  #line {
    width: 2px;
    height: 40px;
    background-color: #111922;
    margin: 0 15px;
  }

  #nav-bar-items li:last-child {
    border: solid 1px #205743;
  }

  #nav-bar {
    margin: auto 0;
  }
}

#nav-bar-items a {
  font-size: 15px;
  text-decoration: none;
}

#web-name a {
  text-decoration: none;
  font-size: 27px;
  width: 183px;
  display: inline;
}

#web-name {
  font-size: 27px;
}

#web-name span {
  font-weight: bold;
}

#nav-bar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

a {
  color: #111922;
}

#web-name a:hover, .ol a:hover {
  color: crimson;
  transition: 0.5s;
}

#nav-bar {
  font-family: 'Open Sans', sans-serif;
}

