<nav id="nav-bar" class="navbar navbar-expand-md">
    <div class="container my-4">
      <div id="web-name">
        <a routerLink="/">
          <img width="175" height="50" src="../../../assets/images/output-onlinepngtools.png" alt="Tutorama.ba Logo">
        </a>
      </div>

      <div id="nav-bar-items">
        <span id="closeBtn" appCloseNav>&times;</span>
        <ul id="nav" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a routerLink="'/creator'" class="nav-link">CREATOR</a>
          </li>
          <li class="nav-item">
            <a href="#contact-container" class="nav-link">CONTACT</a>
          </li>
          <li class="nav-item">
            <div id="line"></div>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" *ngIf="!loggedIn">LOGIN</a>
            <a routerLink="/profile" class="nav-link" *ngIf="loggedIn">PROFILE</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link box" *ngIf="!loggedIn">SIGN UP</a>
            <a href="#" (click)="logout($event)" class="nav-link box" *ngIf="loggedIn">LOG OUT</a>
          </li>
        </ul>
      </div>
      <span id="toggler" appOpenNav>&#9776;</span>
    </div>
</nav>

