#public-services-list {
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#card {
  background-color: white;
  display: inline-block;
  width: 225px;
  height: 150px;
  border-radius: 15px;
  margin: 25px 25px;
  box-shadow: 1px 12px 20px 0 rgba(50, 50, 50, 0.2);
}

#day, #st, #et {
  font-weight: bold;
}

#day {
  border-bottom: 1px solid #f4c030;
}

#content {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

#cards {
  padding-bottom: 50px;
}

