@media (min-width: 1200px) {
  #cards {
    width: 775px;
    margin-left: calc((100% - 775px) * 0.5);
  }

  #card:nth-child(3n - 1) {
    margin: 0 50px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {
  #cards {
    width: 500px;
    margin-left: calc((100% - 500px) * 0.5);
  }

  #card:nth-child(odd) {
    margin-right: 50px;
  }

}

@media (max-width: 874px) {
  #cards {
    width: 225px;
    margin-left: calc((100% - 225px) * 0.5);
  }
}

#card {
  background-color: white;
  display: inline-block;
  width: 225px;
  height: 150px;
  border-radius: 15px;
  margin: 25px 0;
  box-shadow: 1px 12px 20px 0 rgba(50, 50, 50, 0.2);
}

#card:hover {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#content {
  margin: 25px;
  font-family: 'DM Sans', sans-serif;
}

#class-info {
  font-size: small;
  font-family: 'DM Sans', sans-serif;
  color: white;
  width: 90px;
  margin-left: calc(100% - 100px);
  border-radius: 25px;
  border: 0;
  height: 30px;
  background-color: #19777b;
}

#title {
  border-bottom: #0c424d 1px solid;
  width: 80%;
  margin-left: 10%;
}

#title h2 {
  font-family: 'DM Serif Display', serif;
  text-transform: uppercase;
  font-weight: 500;
  font-style: oblique;
  padding-top: 60px;
  display: inline;
}

#title p {
  font-family: 'DM Sans', sans-serif;
  display: inline;
  float: right;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;

  fa-icon {
    margin-right: 5px;
  }
}

#title p:hover {
  border-bottom: 1px solid #19777b;
  color: #19777b;
}

#services-list {
  min-height: calc(100vh - 100px);
}
