<div id="edit-available-time">
  <div id="title">
    <h2>
      <fa-icon (click)="goBack()" [icon]="['fas','chevron-left']" size="1x"></fa-icon>
      Edit Time Slot
    </h2>
  </div>
  <form #editAvailableTimeForm=ngForm (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="day">Choose Day</label>
      <select id="day" required="required" name="day" [(ngModel)]="availableTime.Day">
        <option disabled="disabled" value="">Select...</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>
    <div class="form-row">
      <label for="start-time">Choose Start Time</label>
      <input type="time" id="start-time" name="start-time" required="required" [(ngModel)]="availableTime.Start_Time">
    </div>
    <div class="form-row">
      <label for="end-time">Choose End Time</label>
      <input type="time" id="end-time" name="end-time" required="required" [(ngModel)]="availableTime.End_Time">
    </div>
    <button id="submit" type="submit" [disabled]="!editAvailableTimeForm.valid">Update</button>
  </form>
</div>

