@media (max-width: 575px) {
  .component-box {
    margin: 0 calc((100% - 300px) * 0.5);
  }

  #component {
    margin-top: 25px;
  }

  #navigation {
    margin: 0 calc((100% - 300px) * 0.5);
  }
}

@media (min-width: 576px) {
  #navigation, #component {
    display: inline-grid;
  }

  #component {
    width: calc(100% - 300px);
  }

  .component-box {
    margin-left: 50px;
  }
}

#profile {
  padding-top: 150px;
  position: relative;
  min-height: calc(100vh - 100px);
  background-color: whitesmoke;
}

#navigation {
  width: 300px;
  background-color: white;
}

#user {
  height: 300px;
  width: 300px;

  h4, p {
    text-align: center;
  }

  img {
    margin: calc((100% - 100px) * 0.2) calc((100% - 100px) * 0.5) 50px;
  }
}

.nav-row {
  height: 50px;
  border-top: 1px solid lightgray;
}

.nav-row-item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 12.5px;
}

.nav-row-item:last-child {
  float: right;
}

#component {
  overflow: auto;
}

.component-box {
  margin-bottom: 50px;
}

#user-info-row {
  background-color: #19777b;
  color: white;
}
