<div id="profile">
  <p>{{currentUser.First_Name}}</p>
  <a *ngIf="isTutor()" routerLink="/add-service">
    <button>Add Service</button>
  </a>
  <ul *ngIf="isTutor()">
    <li *ngFor="let service of services">
      <h3>{{service.Subject_Name}}</h3>
      <p>{{service.Service_Level}}</p>
      <p>{{service.Service_Cost}} KM/h</p>
    </li>
  </ul>
  <a *ngIf="isTutor() && isFixed()" routerLink="/add-available-time">
    <button>Add Available Time</button>
  </a>
  <ul *ngIf="isTutor() && isFixed()">
    <li *ngFor="let availableTime of availableTimes">
      <p>{{availableTime.Day}}</p>
      <p>{{availableTime.Start_Time}}</p>
      <p>{{availableTime.End_Time}}</p>
      <p *ngIf="availableTime.Is_Free == 0">Reserved</p>
      <p *ngIf="availableTime.Is_Free == 1">Free</p>
    </li>
  </ul>

  <a routerLink="/profile/classes"><button>Go to classes</button></a>
</div>
