<div id="login">
  <form #resetPasswordForm=ngForm (ngSubmit)="onSubmit()">

    <h2>Send Email for Reset Password</h2>

    <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>

    <div class="form-container">
      <label for="eml">Email
        <input type="email" placeholder="Enter email" id="eml" name="eml" required="required" [(ngModel)]="form.email" >
      </label>

      <label for="psw">Password
        <input type="password" placeholder="Enter password" id="psw" name="psw" required="required" [(ngModel)]="form.password">
      </label>

      <button type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
    </div>

  </form>
</div>

