<div id="info">
    <div class="info-container">
        <h1>What is <br>Tutorama.ba?</h1>
        <img id="image" src="../../../assets/Img/Tutorama.JPEG" alt="tutoring">
        <div class="paragraph-container">
            <div class="paragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta ultricies libero in molestie.Phasellus ac purus id ante dictum mattis feugiat tincidunt purus.</p>
                <p>Pellentesque gravida massa et porta hendrerit. Morbi suscipit mi sapien, in elementum quam dictum sed. Vestibulum id purus eget lectus ornare porttitor nec quis lectus. Nulla et lacinia lectus. Nulla at ultricies erat. Donec nec quam magna. Curabitur imperdiet in tortor nec ultricies. Curabitur at ex aliquam, accumsan velit id, pellentesque justo.</p>
                <p>Suspendisse vel eros sed lorem lobortis hendrerit quis accumsan enim. Ut non vulputate mauris, vel pulvinar libero. Maecenas feugiat ultricies risus, et lacinia nisl faucibus at. Vivamus id tempor arcu. Aliquam id porta odio. Maecenas mauris enim, semper id sagittis semper, feugiat sit amet diam. Vivamus eget ultrices ante.</p>
            </div>
        </div>
    </div>
</div>
