<div id="main">
  <div id="main-contents">
    <div id="main-text">
      <h1>The place for all your tutoring needs</h1>
      <p>Welcome to Tutorama.ba - Bosnia and Herzegovina's first tutoring web application.</p>
      <a *ngIf="!loggedIn" routerLink="/register" class="button-link">
        <button class="homepage-buttons">
          Join Now
        </button>
      </a>
      <a *ngIf="loggedIn" routerLink="/services" class="button-link">
        <button class="homepage-buttons">
          Search Services
        </button>
      </a>
    </div>
    <img src="../../../../assets/images/vector-background.png" alt="solving problems together flat vector background">
  </div>
</div>
