<div id="why-tutorama">
  <div id="content">
    <div id="desc">
      <h2>Find out why you should choose us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut faucibus pulvinar elementum integer enim neque volutpat ac. Euismod nisi porta lorem mollis
        aliquam ut porttitor leo.</p>
      <a *ngIf="!loggedIn" routerLink="/register" class="button-link">
        <button class="homepage-buttons">
          Try Now <span>&#8594;</span>
        </button>
      </a>
    </div>
    <div id="reasons-container">
      <div class="reason">
        <div class="pic">
          <fa-icon [icon]="['fas','money-bill-wave']" size="2x"></fa-icon>
        </div>
        <h3>Free to use</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
      <div class="reason">
        <div class="pic">
          <fa-icon [icon]="['fas','star-half-alt']" size="2x"></fa-icon>
        </div>
        <h3>Reviews</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
      <div class="reason">
        <div class="pic">
          <fa-icon [icon]="['fas','calendar-check']" size="2x"></fa-icon>
        </div>
        <h3>Direct scheduling</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
      <div class="reason">
        <div class="pic">
          <fa-icon [icon]="['fas','chalkboard-teacher']" size="2x"></fa-icon>
        </div>
        <h3>Individual classes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
