@media only screen and (min-width: 992px) {
  #why-tutorama, #content {
    height: 750px;
  }

  #content {
    position: relative;
    width: 850px;
    left: calc((100% - 850px) * 0.5);
  }

  #desc {
    width: 300px;
    top: 100px;
    left: 0;
  }

  #desc h2 {
    font-size: 38px;
    width: 300px;
    padding-bottom: 20px;
  }

  #reasons-container h3 {
    font-size: 22px;
  }

  #reasons-container p, #desc p {
    font-size: 15px;
    text-align: justify;
  }

  #reasons-container {
    width: 475px;
    top: -300px;
    margin-right: 75px;
    left: 375px;
  }

  .reason {
    margin-top: 50px;
    width: 200px;
    display: inline-block;
  }

  .reason:nth-child(odd) {
    margin-right: 75px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #why-tutorama, #content {
    height: 1150px;
  }

  #desc {
    width: 300px;
    top: 100px;
    left: calc((100% - 300px) * 0.5);
  }

  #desc h2 {
    font-size: 38px;
    width: 300px;
    padding-bottom: 20px;
  }

  #reasons-container h3 {
    font-size: 22px;
    text-align: center;
  }

  #reasons-container p, #desc p {
    font-size: 15px;
    text-align: justify;
  }

  #reasons-container {
    width: 90%;
    top: 100px;
    left: 5%;
  }

  .reason {
    margin-top: 50px;
    width: 300px;
    display: inline-block;
  }

  .reason:first-child, .reason:nth-child(3) {
    margin-right: calc(100% - 600px);
  }

  .pic {
    position: relative;
    left: calc((100% - 60px) * 0.5);
  }
}

@media only screen and (max-width: 767px) {
  #why-tutorama, #content {
    height: 1400px;
  }

  #desc {
    width: 250px;
    top: 100px;
    left: calc((100% - 250px) * 0.5);
  }

  #desc h2 {
    font-size: 30.5px;
    padding-bottom: 20px;
  }

  #reasons-container h3 {
    font-size: 17.6px;
    text-align: center;
  }

  #reasons-container p, #desc p {
    font-size: 12px;
    text-align: justify;
  }

  #reasons-container {
    width: 250px;
    top: 100px;
    left: calc((100% - 250px) * 0.5);
    margin-right: 0;
  }

  .reason {
    margin-top: 50px;
  }

  .pic {
    position: relative;
    left: calc((100% - 60px) * 0.5);
  }
}

#desc, #reasons-container {
  position: relative;
}

#desc h2 {
  font-family: 'DM Serif Display', serif;
}

#reasons-container p, #desc p, #reasons-container h3 {
  font-family: 'DM Sans', sans-serif;
}

#reasons-container h3 {
  font-weight: 600;
}

#reasons-container p, #desc p {
  font-weight: 400;
}


#why-tutorama {
  width: 90%;
  position: relative;
  left: 10%;
  background-color: whitesmoke;
  margin-bottom: 100px;
}

.pic {
  border-radius: 37.5px;
  border-width: 0;
  width: 60px;
  height: 60px;
  color: #19777b;
  background-color: gainsboro;
  text-align: center;
  margin-bottom: 25px;
}

.pic fa-icon {
  position: relative;
  top: 12.5px;
}

.button-link {
  width: 120px;
  position: relative;
  left: calc((100% - 120px) * 0.5);
}

.homepage-buttons {
  width: 120px;
}
