<div id="add-available-time">
  <h1>Add Available Time</h1>


  <form #addAvailableTimeForm=ngForm (ngSubmit)="onSubmit()">
    <label for="day">Choose Day
      <select id="day" required="required" name="day" [(ngModel)]="availableTime.Day">
        <option value="">Select...</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </label>
    <label for="start-time">Choose Start Time
      <input type="time" id="start-time" name="start-time" required="required" [(ngModel)]="availableTime.Start_Time">
    </label>
    <label for="end-time">Choose End Time
      <input type="time" id="end-time" name="end-time" required="required" [(ngModel)]="availableTime.End_Time">
    </label>
    <button type="submit" [disabled]="!addAvailableTimeForm.valid">Add Available Time</button>

    <div [hidden]="!added">
      <p>Available Time successfully added</p>
      <p>Add another?</p><button type="reset" (click)="reset()">Add</button>
    </div>
  </form>
</div>

