<div id="subjects">
  <h2>Choose popular subjects</h2>
  <a href="/sign-up" class="button-link">
    <button class="homepage-buttons">
      All Subjects <span>&#8594;</span>
    </button>
  </a>
  <div id="subjects-container">
    <div class="sub-row">
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'calculator']"></fa-icon>
          <br>
         Mathematics
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'atom']"></fa-icon>
          <br>
          Physics
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'flask']"></fa-icon>
          <br>
          Chemistry
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'code']"></fa-icon>
          <br>
          Programming
        </button>
      </a>
    </div>
    <div class="sub-row">
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'language']"></fa-icon>
          <br>
          Languages
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'palette']"></fa-icon>
          <br>
          Art
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'music']"></fa-icon>
          <br>
          Music
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'medkit']"></fa-icon>
          <br>
          Medicine
        </button>
      </a>
    </div>
  </div>
</div>
