<div id="welcome">
    <img id="bg" src="../../../assets/Img/background.jpg" alt="welcome">
    <div class="overlay"></div>
    <div id="text">
        <h2>Welcome to</h2>
        <h1>Tutorama.ba</h1>
        <p>B&H's first tutoring web application</p>
    </div>
    <div class="blocks">
        <div class="block">
            <img src="../../../assets/Img/monitor.png" width="50" height="50" alt="monitor">
            <p>Offer Services</p>
        </div>
        <div class="block">
            <img src="../../../assets/Img/calendar.png" width="50" height="50" alt="calendar">
            <p>Schedule Classes</p>
        </div>
        <div class="block">
            <img src="../../../assets/Img/idea.png" width="50" height="50" alt="idea">
            <p>Solve Problems</p>
        </div>
    </div>
</div>
