#welcome {
  height: 644.096px;
  width: 100%;
}

.overlay {
  background-color: #060cbf;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 844.096px;
  z-index: 2;
}

#bg {
  min-width: 1408px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media only screen and (min-width: 992px){
  #text {
    margin-left: calc((100% - 460px) * 0.5);
    width: 460px;
    height: 250px;

    p {
      font: normal normal normal 16px/1.4em montserrat, sans-serif;
    }

    h1 {
      font: normal normal bold 64px/1.4em montserrat, sans-serif;
    }

    h2 {
      font: normal normal normal 38px/1.4em montserrat, sans-serif;
    }
  }

  .blocks {
    margin-left: calc((100% - 630px) * 0.5);
  }

  .block {
    margin-left: 15px;
    display: inline-block;
    height: 200px;
    width: 200px;

    p {
      font-size: 16px;
    }
  }

  .block:first-child {
    margin-left: 0;
  }

  .contents {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 991px) {
  #bg {
    left: 50%;
    margin-left: -704px;
  }

  #text {
    margin-left: calc((100% - 410px) * 0.5);
    width: 410px;
    height: 225px;

    p {
      font: normal normal normal 13px/1.4em montserrat, sans-serif;
    }

    h1 {
      font: normal normal bold 52px/1.4em montserrat, sans-serif;
    }

    h2 {
      font: normal normal normal 30.875px/1.4em montserrat, sans-serif;
    }
  }

  .blocks {
    margin-left: calc((100% - 470px) * 0.5);
  }

  .block {
    margin-left: 10px;
    display: inline-block;
    height: 150px;
    width: 150px;

    p {
      font-size: 13px;
    }
  }

  .block:first-child {
    margin-left: 0;
  }

  .contents {
    margin-top: 35px;
  }
}

@media screen and (max-width: 479px) {
  #text {
    margin-left: calc((100% - 360px) * 0.5);
    width: 360px;
    height: 200px;

    p {
      font: normal normal normal 10px/1.4em montserrat, sans-serif;
    }

    h1{
      font: normal normal bold 40px/1.4em montserrat, sans-serif;
    }

    h2 {
      font: normal normal normal 23.75px/1.4em montserrat, sans-serif;
    }
  }

  .blocks {
    margin-left: calc((100% - 315px) * 0.5);
  }

  .block {
    margin-left: 15px;
    display: inline-block;
    height: 150px;
    width: 150px;

    p {
      font-size: 10px;
    }
  }

  .block:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  .block:last-child {
    margin-top: 10px;
    display: flow;
    margin-left: 0;
    width: 315px;
  }

  .contents {
    margin-top: 30px;
  }
}

#text {
  color: white;
  text-align: center;
  position: relative;
  z-index: 3;
  margin-top: 200px;
  margin-right: 0;
  margin-bottom: 0;

  p {
    text-transform: uppercase;
  }
}

.blocks {
  position: relative;
  z-index: 3;
}

.block {
  font-size: 20px;
  text-align: center;
  background-color: white;
  contain: content;

  p {
    margin-top: 12.5%;
  }
}

