<div id="add-service">
  <h1>Add Service</h1>


  <form #addServiceForm=ngForm (ngSubmit)="onSubmit()">
    <label for="subject">Choose Subject
      <select id="subject" required="required" name="subject" [(ngModel)]="service.Subject_ID">
        <option value="">Select...</option>
        <option *ngFor="let subject of subjects" value="{{subject.Subject_ID}}">{{subject.Name}}</option>
      </select>
    </label>
    <label for="level">Choose Service Level
      <select id="level" name="level" required="required" [(ngModel)]="service.Service_Level">
        <option value="">Select...</option>
        <option value="Elementary">Elementary</option>
        <option value="High School">High School</option>
        <option value="University">University</option>
        <option value="On Demand">On Demand</option>
      </select>
    </label>
    <label for="price">Enter price per hour
      <input type="number" placeholder="Price per hour" id="price" name="price" required="required" [(ngModel)]="service.Service_Cost">
    </label>
    <button type="submit" [disabled]="!addServiceForm.valid">Add Service</button>

    <div [hidden]="!added">
      <p>Service successfully added</p>
      <p>Add another?</p><button type="reset">Add</button>
    </div>
  </form>
</div>
