@media only screen and (min-width: 1200px) {
  #main {
    height: 800px;
    width: 1110px;
    left: calc((100% - 1110px) * 0.5);
  }

  #main h1 {
    font: normal normal bold 76px/1.4em 'Grand Hotel', serif;
  }

  #main p {
    font: normal normal normal 19px/1.4em montserrat, sans-serif;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #main {
    height: 800px;
    width: 930px;
    left: calc((100% - 930px) * 0.5);
  }

  #main h1 {
    font: normal normal bold 64px/1.4em 'Grand Hotel', serif;
  }

  #main p {
    font: normal normal normal 16px/1.4em montserrat, sans-serif;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main {
    height: 800px;
    width: 690px;
    left: calc((100% - 690px) * 0.5);
  }

  #main h1 {
    font: normal normal bold 52px/1.4em 'Grand Hotel', serif;
  }

  #main p {
    font: normal normal normal 13px/1.4em montserrat, sans-serif;
  }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
  #main {
    height: 800px;
    width: 540px;
    left: calc((100% - 540px) * 0.5);
  }

  #main h1 {
    font: normal normal bold 40px/1.4em 'Grand Hotel', serif ;
  }

  #main p {
    font: normal normal normal 10px/1.4em montserrat, sans-serif;
  }

  #main img {
    width: 540px;
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  #main {
    height: 650px;
    width: 90.625%;
    min-width: 290px;
    left: 4.6875%;
  }

  #main h1 {
    font: normal normal bold 40px/1.4em 'Grand Hotel', serif ;
  }

  #main p {
    font: normal normal normal 10px/1.4em montserrat, sans-serif;
  }

  #main img {
    width: calc(100% - 30px);
    height: auto;
  }
}

#main {
  position: relative;
}

#main img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#main h1, #main p {
  position: relative;
  left: 15px;
}

#main h1 {
  top: 150px;
}

#main p {
  top: 160px;
}

#join {
  position: relative;
  border-radius: 25px;
  border-width: 1px;
  border-color: white;
  height: 50px;
  width: 120px;
  background-color: #205743;
  top: 170px;
  left: calc((100% - 120px) * 0.5);
}

#join a {
  color: white;
  text-decoration: none;
}
