@media only screen and (min-width: 1200px) {
  #main-contents {
    height: 800px;
    width: 1110px;
    left: calc((100% - 1110px) * 0.5);
  }

  #main-contents h1 {
    font: normal normal bold 76px/1.4em 'Grand Hotel', serif;
  }

  #main-contents p {
    font: normal normal normal 21px/1.4em montserrat, sans-serif;
  }

  .homepage-buttons {
    width: 160px;
  }

  .button-link {
    width: 160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #main-contents {
    height: 800px;
    width: 930px;
    left: calc((100% - 930px) * 0.5);
  }

  #main-contents h1 {
    font: normal normal bold 64px/1.4em 'Grand Hotel', serif;
  }

  #main-contents p {
    font: normal normal normal 19px/1.4em montserrat, sans-serif;
  }

  .homepage-buttons {
    width: 140px;
  }

  .button-link {
    width: 140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main-contents {
    height: 800px;
    width: 690px;
    left: calc((100% - 690px) * 0.5);
  }

  #main-contents h1 {
    font: normal normal bold 52px/1.4em 'Grand Hotel', serif;
  }

  #main-contents p {
    font: normal normal normal 17px/1.4em montserrat, sans-serif;
  }

  .homepage-buttons {
    width: 120px;
  }

  .button-link {
    width: 120px;
  }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
  #main-contents {
    height: 800px;
    width: 540px;
    left: calc((100% - 540px) * 0.5);
  }

  #main-contents h1 {
    font: normal normal bold 40px/1.4em 'Grand Hotel', serif ;
  }

  #main-contents p {
    font: normal normal normal 15px/1.4em montserrat, sans-serif;
  }

  #main-contents img {
    width: 540px;
    height: auto;
  }

  .homepage-buttons {
    width: 110px;
  }

  .button-link {
    width: 110px;
  }
}

@media only screen and (max-width: 575px) {
  #main-contents {
    height: 650px;
    width: 90.625%;
    min-width: 290px;
    left: 4.6875%;
  }

  #main-contents h1 {
    font: normal normal bold 40px/1.4em 'Grand Hotel', serif ;
  }

  #main-contents p {
    font: normal normal normal 13px/1.4em montserrat, sans-serif;
  }

  #main-contents img {
    width: calc(100% - 30px);
    height: auto;
  }

  .homepage-buttons {
    width: 90px;
  }

  .button-link {
    width: 90px;
  }
}

#main-contents {
  position: relative;
}

#main-contents img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#main-contents h1, #main-contents p {
  position: relative;
  left: 15px;
}

#main-contents h1 {
  top: 150px;
}

#main-contents p {
  top: 160px;
}

.button-link {
  top: 170px;
  left: calc((100% - 120px) * 0.5);
}

#main {
  background-color: #c2cac1;
  width: 100%;
}
