<div id="contact-container">
  <div class="c">
    <div class="element">
      <p>Email:</p>
      <p><fa-icon [icon]="['fas','envelope']"></fa-icon> info@tutorama.ba</p>
    </div>
    <div class="element">
      <p>Address:</p>
      <p><fa-icon [icon]="['fas','map-marker-alt']"></fa-icon> Lorem Ipsum bb, 71000 Sarajevo, B&H</p>
    </div>
    <div class="element">
      <a href="https://www.facebook.com"><fa-icon [icon]="['fab','facebook-f']"></fa-icon></a>
      <a href="https://www.instagram.com"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
    </div>
  </div>
  <div class="c">
    <div id="c-links">
      <a routerLink="">Home</a>
      <a href="#contact-container">Contact</a>
    </div>
  </div>
</div>
