@media only screen and (min-width: 768px) {
  #subjects {
    width: 760px;
    left: calc((100% - 760px) * 0.5);
    height: 500px;
  }

  #subjects h2 {
    text-align: center;
    font-size: 38px;
    left: calc((100% - 160px) * 0.4);
  }

  .sub-row {
    width: 615px;
  }

  .button-link {
    top: -45px;
    left: calc((100% - 160px) * 0.9);
  }

  #subjects-container {
    width: 615px;
    left: calc((100% - 615px) * 0.5);
  }

  .sub {
   font-size: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #subjects {
    width: 450px;
    left: calc((100% - 450px) * 0.5);
    height: 600px;
  }

  #subjects h2 {
    text-align: center;
    left: 0;
    font-size: 30.5px;
  }

  #subjects-container {
    width: 450px;
    left: calc((100% - 450px) * 0.5);
  }

  .button-link {
    top: 450px;
    left: calc((100% - 145px) * 0.5);
  }

  .sub-row {
    width: 450px;
  }

  .sub-row:last-child {
    position: relative;
    top: -125px;
  }

  .link {
    position: relative;
  }

  .sub-row:last-child .link:first-child {
    left: 300px;
  }

  .sub-row:last-child .link:nth-child(2) {
    left: -150px;
    top: 125px;
  }

  .sub-row:last-child .link:nth-child(3) {
    left: -150px;
    top: 125px;
  }

  .sub-row:last-child .link:last-child {
    left: 300px;
  }

  .sub {
    font-size: 15px;
  }

}

@media only screen and (max-width: 575px) {
  #subjects {
    width: 315px;
    left: calc((100% - 315px) * 0.5);
    height: 800px;
  }

  #subjects h2 {
    font-size: 30.5px;
    text-align: center;
    left: 0;
  }

  .button-link {
    top: 600px;
    left: calc((100% - 160px) * 0.5);
  }

  #subjects-container {
    width: 315px;
    left: calc((100% - 315px) * 0.5);
  }

  .sub-row {
    width: 315px;
  }

  .sub {
    font-size: 12px;
  }
}

#subjects {
  position: relative;
  margin-top: 100px;
}

#subjects h2 {
  font-family: 'DM Serif Display', serif;
  position: relative;
  top: 0;
  margin: 0;
}

.sub {
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  border-radius: 25px;
  border-width: 0;
  height: 110px;
  width: 135px;
  background-color: whitesmoke;
  color: #111922;
  margin-top: 15px;
}

.link {
  margin-left: 15px;
}

.link:last-child {
  margin-right: 15px;
}

#subjects-container {
  position: relative;
}

.sub fa-icon {
  color: #19777b;
}

.button-link {
  position: relative;
  width: 160px;
}

.homepage-buttons {
  width: 160px;
}

#subjects h2 {
  width: fit-content;
}
