<div id="subjects">
  <h2>Popular subjects</h2>
  <!--<a *ngIf="loggedIn" routerLink="" class="button-link">
    <button class="homepage-buttons">
      All Subjects <span>&#8594;</span>
    </button>
  </a>
  <a *ngIf="!loggedIn" routerLink="/register" class="button-link">
    <button class="homepage-buttons">
      All Subjects <span>&#8594;</span>
    </button>
  </a>-->
  <div id="subjects-container">
    <div class="sub-row">
      <button class="sub link">
        <fa-icon [icon]="['fas', 'calculator']" size="2x"></fa-icon>
        <br>
        Mathematics
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'atom']" size="2x"></fa-icon>
        <br>
        Physics
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'flask']" size="2x"></fa-icon>
        <br>
        Chemistry
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'code']" size="2x"></fa-icon>
        <br>
        Programming
      </button>
    </div>
    <div class="sub-row">
      <button class="sub link">
        <fa-icon [icon]="['fas', 'language']" size="2x"></fa-icon>
        <br>
        Languages
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'palette']" size="2x"></fa-icon>
        <br>
        Art
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'music']" size="2x"></fa-icon>
        <br>
        Music
      </button>
      <button class="sub link">
        <fa-icon [icon]="['fas', 'medkit']" size="2x"></fa-icon>
        <br>
        Medicine
      </button>
    </div>
  </div>
</div>
