<div id="subjects">
  <h2>Choose popular subjects</h2>
  <a href="/sign-up" class="button-link">
    <button class="homepage-buttons">
      All Subjects <span>&#8594;</span>
    </button>
  </a>
  <div id="subjects-container">
    <div class="sub-row">
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'calculator']" size="2x"></fa-icon>
          <br>
         Mathematics
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'atom']" size="2x"></fa-icon>
          <br>
          Physics
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'flask']" size="2x"></fa-icon>
          <br>
          Chemistry
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'code']" size="2x"></fa-icon>
          <br>
          Programming
        </button>
      </a>
    </div>
    <div class="sub-row">
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'language']" size="2x"></fa-icon>
          <br>
          Languages
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'palette']" size="2x"></fa-icon>
          <br>
          Art
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'music']" size="2x"></fa-icon>
          <br>
          Music
        </button>
      </a>
      <a href="" class="link">
        <button class="sub">
          <fa-icon [icon]="['fas', 'medkit']" size="2x"></fa-icon>
          <br>
          Medicine
        </button>
      </a>
    </div>
  </div>
</div>
