<div id="how-it-works">
  <h1>How It Works</h1>
  <div class="HIW-container">
    <div class="box">
      <h2>Students</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lorem ac risus consectetur convallis.
        Nunc vel purus urna.
      </p>
    </div>
    <div class="box">
      <h2>Tutors</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lorem ac risus consectetur convallis.
        Nunc vel purus urna.
      </p>
    </div>
    <div class="box">
      <h2>Classes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lorem ac risus consectetur convallis.
      Nunc vel purus urna.
      </p>
    </div>
    <div class="box">
      <h2>Prices</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lorem ac risus consectetur convallis.
      Nunc vel purus urna.
      </p>
    </div>
  </div>
</div>
